#Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ptxpbcxejidpakzfnqkv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0eHBiY3hlamlkcGFremZucWt2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTc2ODQwNTUsImV4cCI6MjAzMzI2MDA1NX0.HASCadY99_zhyPD_iu48qHJ04kDvZn1LVfbny_YO8Yc
SUPABASE_SERVICE_ROLE_KEY=

#LLM
OPENAI_API_KEY=

#Mailgun
EMAIL_SERVER=
MAILGUN_API_KEY=

#Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET= 

#Lemonsqueezy
LEMONSQUEEZY_API_KEY=
LEMONSQUEEZY_STORE_ID=
LEMONSQUEEZY_WEBHOOK_SECRET=